
.div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.paragraph {
    background-color: rgb(211, 69, 78);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.bigger {
    font-size: 24px;
}

#second {
    font-size: 36px;
    color: blue;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}

.left,
.right {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

.left {
    color: white;
    background-color: black;
}

.right {
    background-color: yellow;
}

